Node-Red Sample Flow/AM612 Test.txt
[{"id":"1a3dbf3b.4ec7d1","type":"mqtt in","z":"f44c3b7f.f0a298","name":"","topic":"AM612_Demo/Status","qos":"0","broker":"38f2c2c9.9bc5ce","x":120,"y":60,"wires":[["d6aa4d02.73daa","d642a175.b131f","93e4c8f0.c540e8"]]},{"id":"d6aa4d02.73daa","type":"debug","z":"f44c3b7f.f0a298","name":"","active":true,"console":"false","complete":"false","x":710,"y":60,"wires":[]},{"id":"d642a175.b131f","type":"function","z":"f44c3b7f.f0a298","name":"Echo Beep 84F3EBB477D6","func":"var PIR_MAC = \"84F3EBB477D6\";\n\nif (msg.payload.indexOf(PIR_MAC) != -1 && msg.payload.indexOf(\"Alert\") != -1) {  \n    msg.payload = PIR_MAC + \"/Chirp/LED=On\";\n    msg.topic = \"AM612_Demo/Control\";\n    return msg;\n}\n\n\n\n","outputs":1,"noerr":0,"x":440,"y":120,"wires":[["cdac0174.b02e2"]]},{"id":"93e4c8f0.c540e8","type":"function","z":"f44c3b7f.f0a298","name":"LED off","func":"var PIR_MAC = \"84F3EBB477D6\";\n\nif (msg.payload.indexOf(PIR_MAC) != -1 && msg.payload.indexOf(\"Clear\") != -1) {  \n    msg.payload = PIR_MAC + \"/LED=Off\";\n    msg.topic = \"AM612_Demo/Control\";\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"x":380,"y":180,"wires":[["cdac0174.b02e2"]]},{"id":"cdac0174.b02e2","type":"mqtt out","z":"f44c3b7f.f0a298","name":"","topic":"","qos":"0","retain":"","broker":"e8c2da83.2c3318","x":690,"y":300,"wires":[]},{"id":"3ec52cae.ce7504","type":"function","z":"f44c3b7f.f0a298","name":"Echo Beep1","func":"var PIR_sensor = \"*ALL\";\nmsg.payload = PIR_sensor + \"/Beep1\";\nmsg.topic = \"AM612_Demo/Control\";\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":330,"y":380,"wires":[["cdac0174.b02e2"]]},{"id":"ac6dff31.140de","type":"inject","z":"f44c3b7f.f0a298","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":380,"wires":[["3ec52cae.ce7504"]]},{"id":"56debd89.957014","type":"inject","z":"f44c3b7f.f0a298","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":240,"wires":[["15520fe0.ad0e4"]]},{"id":"15520fe0.ad0e4","type":"function","z":"f44c3b7f.f0a298","name":"All reboot","func":"msg.payload = \"*ALL/#REBOOT\";\nmsg.topic = \"AM612_Demo/Control\";\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":320,"y":240,"wires":[["cdac0174.b02e2"]]},{"id":"c031f8d.5e32908","type":"function","z":"f44c3b7f.f0a298","name":"Echo Beep2","func":"var PIR_sensor = \"*ALL\";\nmsg.payload = PIR_sensor + \"/Beep2\";\nmsg.topic = \"AM612_Demo/Control\";\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":330,"y":440,"wires":[["cdac0174.b02e2"]]},{"id":"4988f02d.537cd","type":"inject","z":"f44c3b7f.f0a298","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":440,"wires":[["c031f8d.5e32908"]]},{"id":"8e1a8b90.7901b8","type":"function","z":"f44c3b7f.f0a298","name":"Echo Chirp","func":"var PIR_sensor = \"*ALL\";\nmsg.payload = PIR_sensor + \"/Chirp\";\nmsg.topic = \"AM612_Demo/Control\";\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":330,"y":320,"wires":[["cdac0174.b02e2"]]},{"id":"a3bfe787.f8d448","type":"inject","z":"f44c3b7f.f0a298","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":320,"wires":[["8e1a8b90.7901b8"]]},{"id":"38f2c2c9.9bc5ce","type":"mqtt-broker","z":"","broker":"192.168.1.10","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e8c2da83.2c3318","type":"mqtt-broker","z":"","broker":"192.168.1.10","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]
